In [3]:
# tuple
t=()
t1=tuple()
print(t)
print(t1)
print(type(t1))
print(type(t))

()
()
<class 'tuple'>
<class 'tuple'>

In [4]:
working_days=("mon","tue","wed","thur","fri")
holidays=("sat","sun")
print(working_days[0])

mon

In [10]:
working_days=("mon","tue","wed","thur","fri")
for i in range(len(working_days)):
    print(i,working_days[i])

0 mon
1 tue
2 wed
3 thur
4 fri

In [16]:
# Create a tuple and replace all negative numbers with 0 (using conversion).
a=(1,2,-1,-4,8,-2,5)
for i in a:
    if i<=0:
        i==0
print(a)

(1, 2, -1, -4, 8, -2, 5)

In [37]:
a=(1,2,-1,-4,8,-2,5)
b=list(a)
print(b)
for i in range(len(b)):
    if b[i]<0:
        b[i]=0
print(b)

[1, 2, -1, -4, 8, -2, 5]
[1, 2, 0, 0, 8, 0, 5]

In [32]:
a=(1,2,3,2,1)
b=list(a)
i=0
j=len(b)-1
is_pali=True
while i<j:
    if b[i]!=b[j]:
        is_pali=False
        break
    i+=1
    j-=1
if is_pali:
    print("Yes")
else:
    print("No")

Yes

In [47]:
# Find the difference between the largest and smallest element in a tuple.

a=(4,3,9,5,8,6,2)
large=a[0]
small=a[0]
for i in a:
    if i>large:
        large=i
    if i<small:
        small=i
print(large)
print(small)
print("Difference:",large-small)

9
2
Difference: 7

In [44]:
a=(4,3,9,5,8,6,2)
small=a[0]
for i in a:
    if i<small:
        small=i
print(small)

2

In [72]:
# Find all elements that appear more than once in a tuple.
a=(1,5,4,6,5,4,3,1)
b=()
for i in a:
        if a.count(i)>1 and i not in b:
            b=b+(i,)
print(b)

(1, 5, 4)

In [79]:
t=(1,2,3,4)
t1=list(t)
print(t1)
t1.extend([5,6])
print(t1)
t=tuple(t1)
print(t)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [1]:
l=[1,2,2,3,3,3,4,4,4,5,5,5]
print(set(l))

{1, 2, 3, 4, 5}

In [ ]:
marks=67
if marks>90:
    print("A+")
elif 80<=marks and marks<=89:
    print("A")
elif 70<=marks and marks<=79:
    print("B+")
elif 60<=marks and marks<=69:
    print("B")
elif 50<=marks and marks<=59:
    print("C+")
elif 40<=marks and marks<=49:
    print("C")
else:
    print("Fail")

B

In [7]:
marks=67
if marks>90:
    print("A+")
else:
    print("faill")

faill

In [8]:
marks=87
if marks>90:
    print("A+")
elif 80>marks>89:
    print("A")

In [5]:
n=5
count=1
for i in range(n):
    count*=i
print(count)

0

In [7]:
# Find the **second smallest** element in a tuple.

a=(5,4,3,8,7)
b=list(a)
small=b[0]
sec=b[0]
for i in b:
    if i<small:
        sec=small
        small=i
    elif i<sec and i!=small:
        sec=i
print(small)
print(sec)

3
4

In [8]:
a=(4324,316,12432,95,343,8,93)
small=a[0]
sec=a[0]
for i in a:
    if i<small:
        sec=small
        small=i
    elif i<sec and i!=small:
        sec=i
print(small)
print(sec)

8
93

In [11]:
# left rotate tuple
a=(1,2,3,4)
b=1
b=b%len(a)
res=a[b:]+a[:b]
print(res)

(2, 3, 4, 1)

In [14]:
# right rotate tuple
a=(1,2,3,4)
b=1
b=b%len(a)
res=a[-b:]+a[:-b]
print(res)

(4, 1, 2, 3)

In [15]:
# Count how many elements are present inside a nested tuple (total count).
a=(1,2,(3,4,5),6,7)
print(len(a[2]))

3

In [17]:
# Find the maximum element inside a nested tuple.
a=(1,8,6,(9,5,3,2),19,10,12)
max=a[3][0]
for i in a[3]:
    if i>max:
        max=i
print(max)

9

In [19]:
# Flatten a nested tuple into a single tuple.
a=(1,(2,3),(4,5))
b=list(a)
c=[]
print(c.append(b))

None

In [20]:
a=(1,(2,3),(4,5))
b=list(a)
for i in b:
    print(i)

1
(2, 3)
(4, 5)

In [24]:
# Access the last element of the inner tuple in a nested tuple.
a=(1,2,(3,4,5),(6,7,8))
print(a[3][-1])

8

[1, 2, (3, 4, 5), (6, 7)]

In [36]:
# Count vowels present in a tuple of characters.
a=("apple","banana","orange")
count=0
for words in a:
    for i in words:
        if i in "AEIOUaeiou":
            count+=1
print(count)

8

In [39]:
# Remove empty strings from a tuple.
a=("hi","","yoo","hello","")
b=list(a)
while "" in b:
    b.remove("")
print(tuple(b))

('hi', 'yoo', 'hello')

In [ ]:
# Merge a list and tuple into a single tuple
a=[1,2,3]
b=(4,5,6)
b=list(b)
print(tuple(a+b))

[4, 5, 6]
(1, 2, 3, 4, 5, 6)